.aboutUs-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 40px 40px;
    background-color: var(--nav-bg );
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    max-width:100vw;
    min-height: 40vh;
    margin: 0 auto;
  
}
.col-1{
    width: 50vw;
}
.col-2{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    max-width: 40vw;
    min-height: 60vh;
}
.col-2 h2{
    font-family: "Rethink Sans", sans-serif;
    color: var(--heading-main);
    margin-bottom: 16px;
    font-size: 40px;
}
.col-2 p{
    font-family: "Giest", sans-serif !important;
    color: var(--text);
    font-size: 18px;
    line-height: 1.6;
}
.col-2 button{
    margin-top: 20px;
    max-width: 160px;
    height: 50px;
}



@media (max-width: 800px) {

}

@media (max-width: 500px) {
    .aboutUs-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px 20pxpx;
        background-color: var(--nav-bg );
        max-width: 100vw;
        margin: 0 auto;
    
    }
    .col-2{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        justify-items: center;
        max-width: 100vw;
        min-height: 60vh;
    }
    .col-2 h2{
        font-family: "Rethink Sans", sans-serif;
        color: var(--heading-main);
        margin-bottom: 16px;
        font-size: 30px;
    }
    .col-2 p{
        font-family: "Giest", sans-serif !important;
        color: var(--text);
        font-size: 16px;
        line-height: 1.6;
    }
    .col-2 button{
        margin-top: 20px;
        max-width: 160px;
        height: 50px;
    }
}
