.aboutUs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
    background-color: var(--nav-bg );
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    max-width:100vw;
    margin: 0 auto;
  
}
.col-1{
    width: 40vw;
}
.col-2{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    max-width: 60vw;
    min-height: 60vh;
}
.col-2 h2{
    font-family: "Rethink Sans", sans-serif;
    color: var(--heading-main);
    margin-bottom: 16px;
}
.col-2 p{
    font-family: "Giest", sans-serif !important;
    color: var(--text);
    font-size: 16px;
    line-height: 1.6;
}
.col-2 button{
    margin-top: 20px;
    max-width: 120px;
}

.testimonials{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 60px 80px ;
    background-color: var(--bg);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    max-width: 100vw;
}