.footer {
  min-height: 10vh;
  background: var(--nav-bg);
  color: var(--heading-sub);
  padding: 80px 60px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* =====================
   TOP ROW (4 COLUMNS)
===================== */

.footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.footer h4 {
  font-family: "Chivo", sans-serif;
  margin-bottom: 16px;
  color: var(--heading-main1);
}

.footer a {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: var(--heading-main2);
  opacity: 0.85;
}

.footer a:hover {
  opacity: 1;
}

/* Nested GeM */
.footer-nested span {
  display: block;
  margin: 12px 0 6px;
  font-weight: 600;
  color:var(--heading-main1);
}
.contactInfo p{
  color: var(--heading-sub1);
  font-size: 14px;
}

/* =====================
   MIDDLE ROW
===================== */

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  gap: 40px;
}

.footer-brand img {
  width: 220px;
  margin-bottom: 16px;
  filter: brightness(2);
}

.footer-brand h3 {
  font-family: "Chivo", sans-serif;
  color: var(--heading-main1);
  margin-bottom: 8px;
}

.footer-brand p {
  max-width: 420px;
  font-size: 14px;
  line-height: 1.6;
  color: var(--heading-main2);
}

.footer-social h4 {
  margin-bottom: 14px;
}

.nav a,
.footer a {
  position: relative;
}

.nav a::after,
.footer a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: var(--highlight-2);
  transition: width 0.3s ease;
}

.nav a:hover::after,
.footer a:hover::after {
  width: 100%;
}
.social-icons {
  display: flex;
  gap: 14px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(211, 201, 255, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;

  color: var(--heading-main1);
  transition: all 0.3s ease;
}

.social-icons a:hover, .social-icons a::after {
  background: var(--highlight-1);
  color: var(--heading-main1);
  transform: translateY(-2px);
}



/* =====================
   BOTTOM ROW
===================== */

.footer-bottom {
  text-align: center;
  font-size: 13px;
  opacity: 0.7;
  margin-top: 60px;
  color: var(--heading-sub1);
}

/* =====================
   RESPONSIVE
===================== */

@media (max-width: 900px) {
  .footer-top {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-middle {
    flex-direction: column;
    text-align: center;
  }

  .footer-brand p {
    margin: auto;
  }
}

@media (max-width: 500px) {
  .footer-top {
    grid-template-columns: 1fr;
  }
}