.footer {
  min-height: 10vh;
  background: var(--nav-bg);
  color: var(--heading-sub);
  padding: 80px 60px 30px;
  display: flex;
  flex-direction: column;

}

/* =====================
   TOP ROW (2 COLUMNS 1 + 4)
===================== */
.border_bottom{
  content: "";
  display: flex;
  margin-top: 30px;
  height: 1px;
  background: var(--heading-main);

  filter: opacity(0.2);
}
.footer-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.footer-top .footer-links {
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 30px;
}
.footer h4 {
  font-family: "Rethink Sans", sans-serif;
  margin-bottom: 10px;
  color: var(--heading-main);
}

.footer a {
  display: block;
  font-size: 16px;
  font-family: "Geist", sans-serif;
  margin-bottom: 8px;
  color: var(--heading-sub);
  opacity: 0.85;
}

.footer a:hover {
  opacity: 1;
}

/* Nested GeM */
.footer-nested span {
  display: block;
  margin: 12px 0 6px;
  font-weight: 600;
  color:var(--heading-main);
  font-family: "Geist", sans-serif;
}
.contactInfo p{
  font-family: "Geist", sans-serif;
  color: var(--heading-sub);
  font-size: 14px;
}

/* =====================
   MIDDLE ROW
===================== */

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 10px;
}
.footer-brand{
  margin-top: -20px;
  display: flex;
  justify-content: center;
   align-items: center;
  align-content: center;
  gap: 15px;
}
.footer-brand img {
  width: 100px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footer-brand h3 { 
  font-family: "Yeseva One", serif;
  font-weight: 700;
  color: var(--heading-main);
  margin-bottom: 8px;

}

.footer-brand p {
  max-width: 420px;
  font-size: 14px;
  line-height: 1.6;
  color: var(--heading-main);
  font-family: "Geist", sans-serif;
}

.footer-social h4 {
  margin-bottom: 5px;
  font-family: "Geist", sans-serif;
}

.nav a,
.footer a {
  position: relative;
  font-family: "Geist", sans-serif;
}

.nav a::after,
.footer a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: var(--highlight-1);
  transition: width 0.3s ease;
}

.nav a:hover::after,
.footer a:hover::after {
  width: 100%;
}
.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(0, 46, 4, 0.848);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--heading-main1);
  transition: all 0.3s ease;
}

.social-icons a:hover, .social-icons a::after {
  background: var(--highlight-1);
  color: var(--heading-main);
  transform: translateY(-2px);
}



/* =====================
   BOTTOM ROW
===================== */

.footer-bottom {
  text-align: center;
  font-size: 16px;
  opacity: 0.7;
  font-family: 'Geist', sans-serif;
  color: var(--heading-sub);
}

/* =====================
   RESPONSIVE
===================== */
@media (max-width: 1180px) {
  .footer-top {
    grid-template-columns: repeat(1, 1fr);
 
  }  
  .footer-top .footer-links {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 30px;
  }
}
@media (max-width: 800px) {
  .footer-top {
    grid-template-columns: repeat(1, 1fr);
 
  }
  .footer-brand{
    margin-top: -20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    border-bottom: 2px solid var(--border);
    
}
  .footer-top .footer-links {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 30px;
  }
  .footer-middle {
    flex-direction: column;
    text-align: center;
  }

  .footer-brand p {
    margin: auto;
  }
}

@media (max-width: 500px) {
  .footer-top {
    grid-template-columns: 1fr;
  }
}