/* =========================
   BRAND SYSTEM – KEVOTALIA
   ========================= */

/* -------- LIGHT MODE -------- */
:root {
  --bg: #fdfffd;
  --nav-bg: #f7f7f7;

  --highlight-1: #1eab3f;
  --highlight-2: #147900;
  --highlight-4: #8cfd86;
  --highlight-3: #004511;

  --heading-main: #0b120c;
  --heading-main1: #ffffff;
  --heading-main2: #fbfcff;
  --heading-sub: #141414;
  --heading-sub1: #eeeeee;
  --heading-sub2: #efefef;
  --text: #000f01;

  --card: #f7fff7;
  --border: #e5e5e5;
}

/* -------- DARK MODE -------- */
[data-theme="dark"] {
  --bg: #050605;
  --nav-bg: #001305 ;


  --highlight-1: rgb(0, 134, 45);
  --highlight-2: #104a09;
  --highlight-3: #001e0b;
  --highlight-4: #00380f;
  
  --heading-main: #ffffff;
  --heading-main2: #b0b0b0;
  --heading-sub1: #eeeeee;
  --heading-sub2: #2b2b2b;
  --heading-sub: #f5f3f4;
  --text: #f5f3f4;

  --card: #0c0c0c;
  --border: #014200;
}
