/* =========================
   BRAND SYSTEM – KEVOTALIA
   ========================= */

/* -------- LIGHT MODE -------- */
:root {
  --bg: #f9f9f9;
  --nav-bg: #0e1c5e;

  --highlight-1: #09249d;
  --highlight-2: #e36414;
  --highlight-3: #293241;

  --heading-main: #0d1321;
  --heading-main1: #ffffff;
  --heading-main2: #fbfcff;
  --heading-sub: #141414;
  --heading-sub1: #eeeeee;
  --heading-sub2: #efefef;
  --text: #141414;

  --card: #ffffff;
  --border: #e5e5e5;
}

/* -------- DARK MODE -------- */
[data-theme="dark"] {
  --bg: #000000;
  --nav-bg: #020c1d;

  --highlight-1: #00457a;
  --highlight-2: #f6bd60;
  --highlight-3: #3d5a80;

  --heading-main: #ffffff;
  --heading-main2: #fbfcff;
  --heading-sub1: #eeeeee;
  --heading-sub2: #efefef;
  --heading-sub: #f5f3f4;
  --text: #f5f3f4;

  --card: #001b2e;
  --border: #1e3a5f;
}
